.navBrand {
    height:123px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background-color:white;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1510px;
    margin: 0 auto;
    gap: 25px;
    padding: 34px 60px 0px 35px;
    .logo {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.003rem;
      margin-left: 15px;
    }
    .nav_item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      gap: 25px;
      margin-left: -435px;
      font-size: 16px;
      font-weight: 500;
      .navItem {
        p,
        span {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
        }
      }
    }
    .Cart {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      .bagIcon {
        font-size: 24px;
      }
    }
  }
}

@media  (max-width: 1024px) {
  .navBrand {
      .nav {
    .logo {
      font-size: 22px;
    }
    .nav_item {
      margin-left: -180px;
      font-size: 15px;
      font-weight: 500;
      .navItem {
        p,
        span {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
        }
      }
    }
    .Cart {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      .bagIcon {
        font-size: 24px;
      }
    }
  }
}

}
