.navBrand {
  height: 123px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background-color 0.3s ease;

  &.scrolled {
    background-color: rgb(255, 255, 255); // Adjust color as needed
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1510px;
    margin: 0 auto;
    gap: 25px;
    padding: 34px 60px 0px 35px;

    .nav__item {
      display: flex;
      gap: 150px;

      .logo {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.003rem;
        margin-left: 15px;
      }

      .nav_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 25px;

        .navItem {
          p,
          span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }

    .Cart {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;

      .bagIcon {
        font-size: 24px;
      }
    }
  }
}

/* Media Queries */

/* For devices with a max-width of 915px */
@media (max-width: 915px) {
  .navBrand {
    .nav {
      .logo {
        font-size: 22px;
      }

      .nav_item {
        gap: 15px;
        font-size: 15px;
      }

      .Cart {
        gap: 20px;
      }
    }
  }
}

/* For devices with a max-width of 768px */
@media (max-width: 768px) {
  .navBrand {
    .nav {
      flex-direction: row;
      padding: 20px 30px;

      .nav__item {
        flex-direction: row;
        gap: 20px;

        .nav_item {
          flex-wrap: wrap;
          gap: 10px;
        }
      }

      .Cart {
        justify-content: center;
        gap: 15px;

        .bagIcon {
          font-size: 20px;
        }
      }
    }
  }
}

/* For devices with a max-width of 360px */
@media (max-width: 360px) {
  .navBrand {
    height: auto;

    .nav {
      padding: 15px;
      gap: 10px;

      .logo {
        font-size: 18px;
      }

      .nav__item {
        flex-direction: column;
        gap: 15px;

        .nav_item {
          font-size: 14px;
          gap: 8px;
          display:none;
        }
      }

      .Cart {
        gap: 10px;

        .bagIcon {
          font-size: 18px;
        }
      }
    }
  }
}
