.animator {
  margin-bottom: 100px;
}
.animation {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  animation: right 6s ease-in-out infinite;
  transform: translateX(10px);
  .ani1 {
    border: 1px solid rgb(229, 229, 229);
    position: relative;
    padding: 20px 40px;
    border-radius: 10px;
  }
}
@keyframes right {
  from {
    transform: translateX(-900px);
  }
  to {
    transform: translateX(900px);
  }
}

.animation2 {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  animation: left 6s ease-in-out infinite;
  transform: translateX(10px);
  .ani1 {
    border: 1px solid rgb(229, 229, 229);
    position: relative;
    padding: 20px 40px;
    border-radius: 10px;
  }
}
@keyframes left {
  from {
    transform: translateX(900px);
  }
  to {
    transform: translateX(-900px);
  }
}
