.button {
  padding: 15px 22px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  color: black;
  border: 1px solid lightgrey;
  font-family: Thicccboi, Arial, sans-serif;
  position: Relative;
}
