.feature-card {
  height: fit-content;
  flex:auto;
  flex-wrap: wrap;
  width: 1240px;
  padding: 20px 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #e9f3f8;
  border-radius: 25px;
  margin-bottom: 25px;
  .feature_card1 {
    display: flex;
    flex-wrap:wrap;
    gap: 5%;
    text-align: justify;
    height: auto;
    background-color: white;
    border-radius: 25px;
    padding: 30px;
    .feature_para {
      font-size: 40px;
      line-height: 50px;
      font-weight: 600;
      margin-bottom: 25px;
    }
    .feature_sub_para {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 25px;
      line-height: 30px;
      color: #555;
    }
    .feature_img {
      width: 550px;
      aspect-ratio: 1.8;
      position: relative;
    }
  }
  .feature_card2_3{
    display:flex;
    gap:15px;
    flex-wrap: wrap;
  }
  .feature_card2 {
    height: auto;
    width: 590px;
    background-color: white;
    border-radius: 25px;
    padding: 30px;
    margin-top: 25px;
    max-width: fit-content;
    .feature_img {
      position: relative;
      aspect-ratio: 1.2;
      width: 550px;
    }
    .feature-para{
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    .featur_sub{
        font-size: 20px;
      font-weight: 500;
      margin-bottom: 25px;
      line-height: 30px;
      color: #555;

    }
  }
}
